<h1>Welcome#home</h1>
 <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
<p>Find me in app/views/welcome/home.html.erb</p>
current_user.email: 
<%= current_user.email if current_user %>
