<h1>Welcome Home</h1>

<p><%="Current User Email: #{current_user.email}" if current_user%></p>

<%= link_to "Sign up", new_user_registration_path %>
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>