
<h1>Welcome Home

  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% if !!current_user %>
<%= current_user.email %>
<% end %>
 </h1>
