<div>
	<%= link_to 'Home', home_path %>
	<%= link_to 'About', about_path %>
	<%= link_to 'Sign up', new_user_registration_path %>
	<%= link_to 'Sign in', new_user_session_path %>
</div>

<h1>Welcome</h1>

 