<ul>
  <il><a href="/">Home</a></il>
  <li><a href="/about">About</a></li>
  <il><a href="/users/sign_in">Sign in</a></il>
  <il><a href="/sign_up">Sign up</a></il>
  <li><%= link_to('Sign out', destroy_user_session_path, method: :delete) %></li>

</ul>
